<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <timestamp key="byDay" datePattern="yyyyMMdd" />
    
    <!-- custom coloring conversion -->
    <conversionRule conversionWord="highlightex" converterClass="me.shedaniel.linkie.discord.logging.HighlightingCompositeConverterEx" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%highlightex([%d{HH:mm:ss}] [%logger{36}/%level]): %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/${byDay}.log</file>
        <append>true</append>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>